<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/logo_myprof_black"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.ChatAppV2"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".sendEmail"
            android:exported="false" />
        <activity
            android:name=".profDetails.ProfDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".modules.ModulesActivity"
            android:exported="false" />
        <activity
            android:name=".fragebogen.FrageBogenActivity"
            android:exported="false" />
        <activity
            android:name=".EditProfile"
            android:exported="false" />
        <activity
            android:name=".mainMenu.MainMenu"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".professorDetails.PostDetailActivity"
            android:exported="false" />
        <activity
            android:name=".allProfs.AllProfsActivity"
            android:exported="false" />
        <activity
            android:name=".LoginActivity"
            android:exported="true" />
        <activity
            android:name=".TwitterActivity"
            android:exported="false" />
        <activity
            android:name=".listEmails.userlist"
            android:exported="false" />
        <activity
            android:name=".Register"
            android:exported="false" />
    </application>

</manifest>